<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">CATEGORÍAS</span>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAddCategory"><i
          class="fa-solid fa-plus"></i> Agregar categoría</button>
    </div>
  </nav>
  <div id="cardscategorias"></div>
</div>

<div class="modal fade" id="modalAddCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crea una nueva categoría</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nomb_cater" class="form-label">Nombre categoría</label>
          <input id="nomb_cater" type="text" class="form-control form-control-sm"
            placeholder="Ingrese el nombre de la categoría" required />
        </div>
        <div class="mb-3">
          <label for="desc_cater" class="form-label">Observación</label>
          <textarea id="desc_cater" class="form-control" placeholder="Añade una observación (opcional)"
            style="resize: none; width: 100%; field-sizing: content"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnCerrarCategory" class="btn btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" id="btnGuardar" class="btn btn-success">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/js/categories/category.js"></script>