<div class="sidebar bg-dark text-white p-3" id="sidebar">
    <h3 class="text-center mb-4">
        <i class="fas fa-wallet me-2"></i>Finanzas
    </h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">
                <i class="fas fa-chart-line me-2"></i>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/categories">
                <i class="fas fa-tags me-2"></i>Categorías
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/income">
                <i class="fas fa-money-bill-trend-up me-2"></i>Ingresos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/expenses">
                <i class="fas fa-credit-card me-2"></i>Gastos
            </a>
        </li>
    </ul>
</div>